body {
  font-family: Arial, Helvetica, sans-serif;
}

.calculadora {
  width: 500px;
}

#visor {
  width: 100%;
  padding: 20px;
  font-size: 20px;
  line-height: 20px;
  color: #666;
  background-color: #CCC;
}